In [7]:
from settings import tickers
from parse_last_day import parse_last_day
from preprocessing import read_files, add_indicators, add_target

In [13]:
import numpy as np

In [8]:
parse_last_day(tickers)

Готово. Проверьте файл ./data/to_predict/AFKS_daily_091023_160124.txt

In [9]:
df = read_files()

['AFKS_daily_091023_160124.csv', 'AFKS_daily_091023_160124.txt']

In [10]:
df= add_indicators(df)

In [22]:
close_groups = df.groupby('symbol')['close']
close_groups = close_groups.transform(lambda x : x.diff(-1))

In [23]:
close_groups

0     0.052
1     0.315
2    -0.358
3     0.073
4    -0.237
      ...
65   -0.423
66    0.060
67   -0.169
68    0.095
69      NaN
Name: close, Length: 70, dtype: float64

In [24]:
df

,symbol,datetime,open,close,high,low,volume,change_in_price,down_days_14,up_days_14,RSI_14,low_14,high_14,k_percent_14,r_percent_14,MACD,MACD_EMA,Price_Rate_Of_Change_9,on_balance_volume
0,AFKS,20231009,17.400,17.510,17.820,17.241,48085100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0
1,AFKS,20231010,17.601,17.458,17.687,17.359,30469400,-0.052,0.052,0.000,0.000000,NaN,NaN,NaN,NaN,-0.001167,-0.000648,NaN,-30469400
2,AFKS,20231011,17.517,17.143,17.519,17.100,32805500,-0.315,0.315,0.000,0.000000,NaN,NaN,NaN,NaN,-0.011255,-0.004995,NaN,-63274900
3,AFKS,20231012,17.140,17.501,17.590,17.093,30358100,0.358,0.000,0.358,53.428228,NaN,NaN,NaN,NaN,-0.002642,-0.004198,NaN,-32916800
4,AFKS,20231013,17.501,17.428,17.562,17.361,18694200,-0.073,0.073,0.000,47.461943,NaN,NaN,NaN,NaN,-0.000811,-0.003190,NaN,-51611000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,AFKS,20240110,16.484,16.420,16.570,16.412,11922700,-0.087,0.087,0.000,59.810187,15.530,16.594,83.646617,-16.353383,0.094211,0.004499,0.021780,-381261100
66,AFKS,20240111,16.448,16.843,16.877,16.370,31360200,0.423,0.000,0.423,72.199232,15.811,16.877,96.810507,-3.189493,0.133020,0.030203,0.049147,-349900900
67,AFKS,20240112,16.846,16.783,17.049,16.600,33304100,-0.060,0.060,0.000,68.731569,15.837,17.049,78.052805,-21.947195,0.157145,0.055591,0.055734,-383205000
68,AFKS,20240115,16.797,16.952,16.989,16.787,15379600,0.169,0.000,0.169,72.953396,15.855,17.049,91.876047,-8.123953,0.187672,0.082008,0.037518,-367825400
69,AFKS,20240116,16.999,16.857,17.010,16.700,16059800,-0.095,0.095,0.000,67.078969,15.855,17.049,83.919598,-16.080402,0.201902,0.105987,0.032398,-383885200

In [5]:
df = add_target(df)

In [6]:
df

,symbol,datetime,open,close,high,low,volume,change_in_price,down_days_14,up_days_14,RSI_14,low_14,high_14,k_percent_14,r_percent_14,MACD,MACD_EMA,Price_Rate_Of_Change_9,on_balance_volume,target
0,AFKS,20231009,17.400,17.510,17.820,17.241,48085100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0,NaN
1,AFKS,20231010,17.601,17.458,17.687,17.359,30469400,-0.052,0.052,0.000,0.000000,NaN,NaN,NaN,NaN,-0.001167,-0.000648,NaN,-30469400,-1.0
2,AFKS,20231011,17.517,17.143,17.519,17.100,32805500,-0.315,0.315,0.000,0.000000,NaN,NaN,NaN,NaN,-0.011255,-0.004995,NaN,-63274900,-1.0
3,AFKS,20231012,17.140,17.501,17.590,17.093,30358100,0.358,0.000,0.358,53.428228,NaN,NaN,NaN,NaN,-0.002642,-0.004198,NaN,-32916800,1.0
4,AFKS,20231013,17.501,17.428,17.562,17.361,18694200,-0.073,0.073,0.000,47.461943,NaN,NaN,NaN,NaN,-0.000811,-0.003190,NaN,-51611000,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,AFKS,20240110,16.484,16.420,16.570,16.412,11922700,-0.087,0.087,0.000,59.810187,15.530,16.594,83.646617,-16.353383,0.094211,0.004499,0.021780,-381261100,-1.0
66,AFKS,20240111,16.448,16.843,16.877,16.370,31360200,0.423,0.000,0.423,72.199232,15.811,16.877,96.810507,-3.189493,0.133020,0.030203,0.049147,-349900900,1.0
67,AFKS,20240112,16.846,16.783,17.049,16.600,33304100,-0.060,0.060,0.000,68.731569,15.837,17.049,78.052805,-21.947195,0.157145,0.055591,0.055734,-383205000,-1.0
68,AFKS,20240115,16.797,16.952,16.989,16.787,15379600,0.169,0.000,0.169,72.953396,15.855,17.049,91.876047,-8.123953,0.187672,0.082008,0.037518,-367825400,1.0
69,AFKS,20240116,16.999,16.857,17.010,16.700,16059800,-0.095,0.095,0.000,67.078969,15.855,17.049,83.919598,-16.080402,0.201902,0.105987,0.032398,-383885200,-1.0